.header{
  
    background-image: url('../images/assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:9em; 
    
}
.header h1{
   margin: 0.5em;
   padding:0.2em;
}

.header p{
  padding: 0.5em;
}

.header #mouse-click{
  padding: 4em;
}

.about{
  text-align: center;
  margin: 4em;
}

.service{
  background-image: url('../images/assets/backgrounds/s_image.jpg');
  text-align: center;
  color: whitesmoke;
  margin: 2em;
  padding: 8em;
}