.header{
  
    background-image: url('../images/assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:9em; 
    
}
.header h1{
   margin: 0.5em;
   padding:0.2em;
}

.header p{
  padding: 0.5em;
}

.header #mouse-click{
  padding: 4em;
}

.about{
  text-align: center;
  margin: 4em;
}

.service{
  background-image: url('../images/assets/backgrounds/s_image.jpg');
  text-align: center;
  color: whitesmoke;
  margin: 2em;
  padding: 8em;
}
  
.what-we-do{
  padding: 4em;
}

.what-we-do h2{
  text-align: center;
  padding: 1em;
}
.hide{
  display: none;
}

.show{
  text-align: center;
}

.portfolio h2{
  text-align: center;
  padding: 1em;
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  margin-bottom: 3%;
}
.col-md-3 img{
  max-width: 97%;
  max-height: 97%;
  margin: 3%;
}

.form{
  background-image: url('../images/assets/backgrounds/c_image.jpg');
  padding: 4em;
 align-items: center;
}

.form h2{
  text-align: center;
  color: whitesmoke;
}

.transparent{
  background: transparent;
}

.space{
  margin: 2em;
  border-color: whitesmoke;
 
}


.form-control::placeholder, ::placeholder { 
  color: white; 
}
#MERGE2{
  margin-left:30%;
}

footer{
  text-align: center;
  padding-top: 30px;

}
footer p{
  margin-top: 10px;
}

#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: rgb(245, 239, 239);
  width: 100%;
  height: 100%;
  background-color:rgba(10, 1, 1, 0.456);
  position:absolute; 
  top: 0px; 
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  /* padding-top: 30%;
  padding-right: 15%; */
}







